name: Send 6 billion to israel

on:
  push:
    branches: ["main"]
  workflow_dispatch:

permissions:
  contents: write

jobs:
  convert:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          persist-credentials: true

      - run: sudo apt-get install -y webp

      - run: chmod +x convert.sh

      - run: ./convert.sh

      - run: |
          git config user.name "IDF Solider"
          git config user.email "trackers@artistgrid.cx"
          git add webp
          git commit -m "Add missing WEBP files" || exit 0
          git push
